body {


    background-image: url(./istockphoto-636823058-612x612.jpg);
    background-size:auto;
    color: #e96537;
    text-transform: capitalize;


}
#title{
    text-align: center;
    color: #e96537;
    text-transform: uppercase;
}
article.card{
    background-color: rgb(229, 224, 224);
}